<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>c0nn3ct</h1>
<div><%= text %></div>
<form action="/" method="get">
  <input type="number" name="number" placeholder="The number of interest??" required>
  <input type="number" name="day" placeholder="The day of interest?" required>
  <input type="number" name="month" placeholder="The month of interest?" required>
  <button type="submit">Submit</button>
</form>

</body>
</html>